/* ==========================================================================
   Reset
   ========================================================================== */

html, address, article, aside, footer, h1, h2, h3, h4, h5, h6, header, hgroup, 
nav, section, blockquote, dd, div, dl, dt, figcaption, figure, hr, li, main, 
ol, p, pre, ul, a, abbr, b, br, cite, code, em, i, mark, q, s, samp, small, 
span, strong, sub, sup, time, u, var, wbr, area, audio, img, map, track, video,
embed, object, param, source, canvas, noscript, script, del, ins, caption, col,
colgroup, table, tbody, td, tfoot, th, thead, tr, button, datalist, fieldset, 
form, input, label, legend, meter, optgroup, option, output, progress, select, 
textarea, details, dialog, menu, menuitem, summary {
  border: 0;
  margin: 0;
  padding: 0;
}

table  { border-collapse: collapse; }


/* ==========================================================================
   Base site layout
   ========================================================================== */

html {
  height: 100%;
  font: 300 10px/1.63 "Open Sans", sans-serif;
  background-color: #fff;
  box-sizing: border-box;
}

body {
  display: -ms-flexbox;  /* IE 10 */
  display: -webkit-flex;  /* Safari 6.1-8, Chrome 21-28, Android < 4.4 */
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-size: 1.4rem;  /* ~14px */
  line-height: 1.65;  /* ~23px */
  color: #2d1306;
}

@media only screen and (min-width: 575px) {
  body { 
    font-size: 1.6rem;  /* ~16px */
    line-height: 1.63;  /* ~26px */
  }
}

*,
*:before, 
*:after {
  box-sizing: inherit;
}


/* ==========================================================================
   Base site typography 
   ========================================================================== */

h2 {
  margin: 0 0 3% 0;
  font-family: "Playfair Display", serif;
  font-size: 2.3rem;  /* ~23px */
  font-weight: 500;
  line-height: 1;   /* ~23px */
  letter-spacing: 0.06rem;
  color: #593419;
  text-transform: uppercase;
}

@media only screen and (min-width: 575px) {
  h2 {
    margin: 0 0 2% 0;
    font-size: 2.6rem;  /* ~26px */
    line-height: 1;  /* ~26px */
  }
}

h3 {
  margin: 0 0 3% 0;
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;  /* ~18px */
  font-weight: 500;
  line-height: 1.3;   /* ~23px */
  letter-spacing: 0.06rem;
  color: #d4ac35;
  text-transform: uppercase;
   opacity: 0.99;
  -webkit-filter: opacity(0.99);
     -moz-filter: opacity(0.99);
       -o-filter: opacity(0.99);
      -ms-filter: opacity(0.99);
          filter: opacity(0.99);
}

@media only screen and (min-width: 575px) {
  h3 {
    margin: 0 0 2% 0;
    font-size: 2.0rem;  /* ~20px */
    line-height: 1.3;  /* ~26px */
  }
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;  /* ~14px */
  font-weight: 600;
  line-height: 1.65;  /* ~23px */
  letter-spacing: 0.06rem;
  color: #593419;
}

@media only screen and (min-width: 575px) {
  h4 {
    font-size: 1.6rem;  /* ~16px */
    line-height: 1.63;  /* ~26px */
  }
}

h5 {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;  /* ~12px */
  line-height: 1.92;   /* ~23px */
  color: #aa723a;
}

p { margin: 0 0 3% 0; }

@media only screen and (min-width: 575px) {
  p { margin: 0 0 2% 0; }
}

time {
  font-size: 1.3rem;  /* ~13px */
  line-height: 1.77;   /* ~23px */
}

@media only screen and (min-width: 575px) {
  time {
    font-size: 1.4rem;  /* ~14px */
    line-height: 1.89;   /* ~26px */
  }
}


/* ==========================================================================
   Base site lists
   ========================================================================== */
 
ul {
  margin: 0 0 3% 0;
  list-style-type: disc;
  list-style-position: outside;
}

@media only screen and (min-width: 575px) {
  ul { margin: 0 0 2% 0; }
}


/* ==========================================================================
   Base site quotes
   ========================================================================== */
 
blockquote p:last-of-type { margin-bottom: 0; }

blockquote footer { width: 100%; }

blockquote footer::after { 
  display: block;
  clear: both;
  content: "";
}

blockquote footer span { float: right; }

@media only screen and (min-width: 575px) {
  /*  16*4 = 64px  */
  blockquote::before { font-size: 6.4rem; }
}


/* Base citation 
   ========================================================================== */
 
cite {
  font-size: 1.3rem;  /* ~13px */
  font-style: normal;
  line-height: 1.77;   /* ~23px */
  text-transform: uppercase;
}

@media only screen and (min-width: 575px) {
  cite {
    font-size: 1.4rem;  /* ~14px */
    line-height: 1.89;   /* ~26px */
  }
}

.cite-job-title {
  display: block;
  float: none;
  width: 110px;
  font-size: 1.2rem;  /* ~12px */
  line-height: 1.5;  /* ~18px */
  color: #d4ac35;
  opacity: 0.99;
  -webkit-filter: opacity(0.99);
     -moz-filter: opacity(0.99);
       -o-filter: opacity(0.99);
      -ms-filter: opacity(0.99);
          filter: opacity(0.99);
}


/* ==========================================================================
   Base site links
   ========================================================================== */
 
a {
  display: inline-block;
  font-weight: 400;
  color: #d4ac35;
  text-decoration: none;
  opacity: 0.99;
  -webkit-filter: opacity(0.99);
     -moz-filter: opacity(0.99);
       -o-filter: opacity(0.99);
      -ms-filter: opacity(0.99);
          filter: opacity(0.99);
}

a:hover { opacity: 0.40; }

a:active { opacity: 1; }


/* ==========================================================================
   Base site images
   ========================================================================== */
 
img {
  max-width: 100%;
  font-size: 1.1rem;  /* ~11px */
  line-height: 2.18;  /* ~24px */
}

@media only screen and (min-width: 575px) {
  img {
    font-size: 1.3rem;  /* ~13px */
    line-height: 2;  /* ~26px */
  }
}


/* ==========================================================================
   Base site buttons
   ========================================================================== */
 
button {
  color: #aa723a;
  cursor: pointer;
  opacity: 0.55;
}

button:hover { opacity: 1; }

button::-moz-focus-inner {
  padding: 0;
  border-width: 1px;
}


/* ==========================================================================
   Base site secondary layout
   ========================================================================== */
 
/* Site header 
   ========================================================================== */
 
body>header {
  -webkit-flex-shrink: 0;
      -ms-flex-shrink: 0;
          flex-shrink: 0;
}

 
/* Site main 
   ========================================================================== */
 
body>main {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 6%;
  margin-right: auto;
  margin-left: auto;
}

body>main[data-state="overlay"] { position: relative; }

body>main[data-state="overlay"]::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background: #fbfbfb;
  content: "";
  opacity: 0.6;
}

/* nav: ~29px + 2px(top-border) */
.js body>main { margin-top: 31px; }

/* no-js warning + nav + nav-wrap + padding: ~35px + 31px + (23*4) + 6px */
.no-js body>main { margin-top: 164px; }

@media only screen and (min-width: 409px) {
  /* no-js warning + nav + nav-wrap + padding: ~35px + 31px + (23*3) + 6px */
  .no-js body>main { margin-top: 141px; }
}

@media only screen and (min-width: 460px) {
  /* no-js warning + nav + nav-wrap + padding: ~35px + 31px + (23*2) + 6px */
  .no-js body>main { margin-top: 118px; }
}

@media only screen and (min-width: 575px) {
  body>main {
    padding-top: 4%;
    padding-bottom: 4%;
  }

  /* nav: ~32px + 2px(top-border) */
  .js body>main { margin-top: 34px; }

  /* no-js warning + nav + nav-wrap + padding: ~38px + 34px + (26*2) + 6px */
  .no-js body>main { margin-top: 130px; }
}

@media only screen and (min-width: 965px) {
  /* no-js warning + nav + nav-wrap + padding: ~38px + 34px + 26px + 6px */
  .no-js body>main { margin-top: 104px; }
}

@media only screen and (min-width: 1100px) {
  /* no-js warning + nav: ~38px + 34px */
  .no-js body>main { margin-top: 72px; }
}

 
/* Site footer 
   ========================================================================== */
 
body>footer {
  -webkit-flex-shrink: 0;
      -ms-flex-shrink: 0;
          flex-shrink: 0;
  padding-left: 6%;
  padding-right: 6%;
  font-size: 1.2rem;  /* ~12px */
  line-height: 35px;  /* footer height */
  letter-spacing: 0.06rem;
  color: #ffffee;
  background-color: #2d130b;
}

body>footer p {
  display: inline-block;
  margin: 0;
}

@media only screen and (min-width: 575px) {
  body>footer {
    height: 38px;
    font-size: 1.3rem;  /* ~13px */
    line-height: 38px;
  }
}


/* ==========================================================================
   Main site nagivation layout
   ========================================================================== */
 
body>header>nav {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
  overflow: hidden;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  background-color: #fff;
  border-top: 1px solid rgba(66,28,16,0.85);
  box-shadow: 0 2px 10px -7px #894115;
}

/* no-js warning: ~23px + 12px */
.no-js body>header>nav { margin-top: 35px; }


/* Page links list (excludes homepage link)
   ========================================================================== */

.js body>header>nav ul, 
.no-js body>header>nav ul {
  padding-top: 3px;
  margin: 0;
  list-style: none;
}

.js body>header>nav ul {
  float: none;
  padding-bottom: 26px;
}

.no-js body>header>nav ul {
  float: right;
  padding-bottom: 3px;
}

@media only screen and (min-width: 575px) {
  /* no-js warning: ~26px + 12px */
  .no-js body>header>nav { margin-top: 38px; }
}

.js body>header>nav ul[data-state="hide"] { display: none; }

@media only screen and (min-width: 1127px) {
  .js body>header>nav ul,
  .no-js body>header>nav ul {
    float: right;
    margin: 0;
  }

  .js body>header>nav ul { padding-bottom: 3px; }
}


/* Page links (excludes homepage link)
   ========================================================================== */

.js body>header>nav li {
  float: none;
  padding: 13px 0 0;
  text-align: center;
}

.no-js body>header>nav li {
  float: left;
  padding: 0 26px 0 0; 
  text-align: left;
}

body>header>nav a {
  color: #593419;
}

.homepage-selected, 
.page-selected {
  pointer-events: none;
  cursor: default;
}

.page-selected {
  color: #d4ac35;
  opacity: 0.99;
  -webkit-filter: opacity(0.99);
     -moz-filter: opacity(0.99);
       -o-filter: opacity(0.99);
      -ms-filter: opacity(0.99);
          filter: opacity(0.99);
}

@media only screen and (min-width: 1127px) {
  .js body>header>nav li,
  .no-js body>header>nav li {
    float: left;
    padding: 0 0 0 26px; 
    text-align: left;
  }

  .js body>header>nav li:first-child,
  .no-js body>header>nav li:first-child {
    padding-left: 0;
  }
}


/* Navigation menu toggle button 
   ========================================================================== */

/**
 * Menu toggle button visible when browser width is less than 1127px, and 
 * javascript is enabled. When menu closed (button not pressed), a 3 line
 * hamburger symbol is shown. When menu open (button pressed), X is shown.
 * Each time menu button pressed, hamburger symbol rotates to form X and vice
 * versa. Button is not shown when javascript disabled. 
 *
 * Elements span, span::before, and span::after are used to create the 
 * hamburger and X symbol.
 */

.js body>header>nav button {
  position: relative;
  top: 3px;
  float: right;
  width: 31px;
  height: 23px;
  padding: 0 3px 0 5px;
  overflow: hidden;
  font-size: 0;
  background-color: transparent;
  border: 1px solid rgba(109,64,31,0.25);
  border-radius: 2px;
  opacity: 1;
  transition: 30ms ease-in-out;
}

.no-js body>header>nav button { display: none; }

.js body>header>nav button[data-state="pressed"] { border: none; }

/* Purpose: remove outline that chrome keeps around button */
.js body>header>nav button:focus { outline: none; }

.js body>header>nav button span,
.js body>header>nav button span::before, 
.js body>header>nav button span::after {
  position: absolute;
  display: block;
  width: 19px;
  height: 3px;
  background: #6d401f;
  content: "";
  transition: all 0.30s ease-in-out;
}

.js body>header>nav button span { top: 9px; }

.js body>header>nav button span::before { top: -6px; }

.js body>header>nav button span::after { bottom: -6px; }

.js body>header>nav button[data-state="pressed"] span { background-color: transparent; }

.js body>header>nav button[data-state="pressed"] span::before, 
.js body>header>nav button[data-state="pressed"] span::after {
  top: 0;
  background: #e3bb44;
}

.js body>header>nav button[data-state="pressed"] span::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.js body>header>nav button[data-state="pressed"] span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}


@media only screen and (min-width: 575px) {
  .js body>header>nav button {
    width: 34px;
    height: 25px;
    padding-left: 5px;
  }

  .js body>header>nav button span,
  .js body>header>nav button span::before, 
  .js body>header>nav button span::after {
    width: 22px;
    height: 3px;
  }

  .js body>header>nav button span { top: 10px; }

  .js body>header>nav button span::before { top: -6px; }

  .js body>header>nav button span::after { bottom: -6px; }
}


@media only screen and (min-width: 1127px) {
  .js body>header>nav button { display: none; }
}


/* ==========================================================================
   Logo styling 
   ========================================================================== */

.logo {
  height: 29px;
  font-size: 1.8rem;  /* ~18px */
  font-weight: 500;
  line-height: 27px;  /* nav height - 2px */
}

@media only screen and (min-width: 575px) {
  .logo {
    height: 32px;  /* nav height */
    font-size: 2.0rem;  /* ~26px */
    line-height: 30px;
  }
}


/* ==========================================================================
   Read more Button 
   ========================================================================== */
 
.js .read-more-button {
  position: relative;
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;  /* ~13px */
  line-height: 1.3;   /* ~17px */
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: transparent;
  outline: none;
  opacity: 1;
}

.no-js .read-more-button { display: none; }

@media only screen and (min-width: 575px) {
  .read-more-button {
    font-size: 1.5rem;  /* ~15px */
    line-height: 1.14;  /* ~17px */
  }
}


/* Button states: pressed, not-pressed, hover 
   ========================================================================== */

.js .read-more-button[data-state="not-pressed"] {
  float: right;
  margin: 3% 2%;
}

@media only screen and (min-width: 575px) {
  .js .read-more-button[data-state="not-pressed"] { margin: 2%; }
}

.js .read-more-button[data-state="pressed"]::before, 
.js .read-more-button[data-state="not-pressed"]::after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
}

/* up arrow */
.js .read-more-button[data-state="pressed"]::before {
  margin-right: 13px;
  vertical-align: middle;
  border-color: transparent transparent #d4ac35;
  border-style: solid;
  border-width: 0 8px 8px 8px;
}

/* right arrow */
.js .read-more-button[data-state="not-pressed"]::after {
  margin-left: 13px;
  vertical-align: bottom;
  border-color: transparent transparent transparent #aa723a;
  border-style: solid;
  border-width: 8px 0 8px 8px;
}

.js .read-more-button:hover { opacity: 0.55; }


/* ==========================================================================
   Embedded video Container 
   ========================================================================== */

/**
 * Video iframes are lazy loaded into an embedded-video container. The video's 
 * thumbnail loaded when a page first loads. The embedded videos are formatted
 * to have a 16:9 aspect ratio.
 *
 * Must contain a play/load button child.
 * Must state type of video (class="youtube-video" or class="vimeo-video")
 * Must contain data attribute 'data-track' set to video's unique ID
 * Must contain data attribute 'data-state' set to 'video-not-loaded'
 *
 * <div class="embedded-video vimeo-video" data-track="123456789"
 *      data-state="video-not-loaded">
 *   <button></button>
 * </div>
 *
 * 1. Sets 16:9 aspect ratio
 * 2. Offsets video thumbnail image
 */

.embedded-video {
  position: relative;
  height: 0;
  max-width: 100%;
  padding-bottom: 56.25%;  /* 1 */
  overflow: hidden;
}

.embedded-video embed,
.embedded-video iframe,
.embedded-video object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.no-js .embedded-video {
  background-color: #b30000;
}

.embedded-video[data-state="video-not-loaded"] { border: 1px solid #e0e0e0; }

.js .embedded-video[data-state="video-loaded"] {
  background:url(../images/loader_lg.gif) center center no-repeat;
  border: 1px solid #e0e0e0;
}


/* Video thumbnail 
   ========================================================================== */
 
.embedded-video img {
  position: absolute;
  left: 0;
  width: 100%;
  cursor: pointer;
}

 /* 2 */ 
.youtube-video img { top: -16.84%; }

.vimeo-video img { top: 0; }


/* Play/load button 
   ========================================================================== */
 
.no-js .embedded-video button {
  display: none;
}

.js .embedded-video[data-state="video-not-loaded"] button {
  background: transparent;
  opacity: 1;
}

.js .embedded-video[data-state="video-not-loaded"] button::before, 
.js .embedded-video[data-state="video-not-loaded"] button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  content: "";
  -webkit-transform: translate3d(-50%,-50%,0);
      -ms-transform: translate3d(-50%,-50%,0);
          transform: translate3d(-50%,-50%,0);
}

.js .embedded-video[data-state="video-not-loaded"] button::before {
  z-index: 1;
  width: 90px;
  height: 60px;
  background-color: #333;
  border-radius: 6px;
  opacity: 0.65;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

.js .embedded-video[data-state="video-not-loaded"] button::after {
  z-index: 2;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 15px 0 15px 26px;
}

.js .embedded-video[data-state="video-not-loaded"]:hover button::before {
  background-color: #d4ac35;
  opacity: 0.95;
}


/* ==========================================================================
   General Classes 
   ========================================================================== */

/**
 * Visually hides elements in browser, but keeps them in the outline for
 * accessibility purposes.
 */

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0 !important;
}


/* Outdated IE versions warning 
   ========================================================================== */
 
.warning-ie {
  position: fixed;
  bottom: 4%;
  z-index: 3;
  width: 100%;
  background-color: #b30000;
  padding: 6px 0;
  font-size: 1.1rem;  /* ~11px */
  line-height: 2.18;  /* ~24px */
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 575px) {
  .warning-ie {
    font-size: 1.3rem;  /* ~13px */
    line-height: 2;  /* ~26px */
  }
}

.warning-ie a {
  color: #000;
  text-decoration: underline;
}


/* Disabled JS banner 
   ========================================================================== */
 
/*** disabled JS banner ***/

.disabled-js-banner {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  padding: 6px 0;
  font-size: 1.4rem;  /* ~14px */
  line-height: 1.65;  /* ~23px */
  color: #fff;
  text-align: center;
  background-color: #b30000;
}

@media only screen and (min-width: 575px) {
  .disabled-js-banner { 
    font-size: 1.6rem;  /* ~16px */
    line-height: 1.63;  /* ~26px */
  }
}


/* Disabled JS notifications 
   ========================================================================== */
 
.disabled-js-band-audio, 
.disabled-js-band-photos, 
.disabled-js-music-prod-audio, 
.disabled-js-video {
  width: 100%;
  padding: 4%;
  overflow: hidden;
  font-size: 1.4rem;  /* ~14px */
  line-height: 1.65;  /* ~23px */
  color: #fff;
  background-color: #b30000;
}

.disabled-js-music-prod-audio { width: 200px; }

.disabled-js-video { 
  position: absolute;
  top: 50%;
  text-align: center; 
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}


/* ==========================================================================
   Contact layout
   ========================================================================== */
 
.contact {
  margin: 20% 0 16%;
  text-align: center;
}


/* ==========================================================================
   Services layout
   ========================================================================== */
 
.services-section {
  position: relative;
  margin: 12% 0 20%;
}

.services-section h2 { text-align: center; }


/* List of services 
   ========================================================================== */

.services {
  width: 100%;
  margin: 0;
  font-size: 0;
  text-align: center;
}

.services li, 
.services li>span {
  display: inline-block;
}

.services li {
  width: 100px;
  height: 100px;
  padding: 0 6px;
  margin: 0 6px 12px;
  line-height: 100px;
  border: 1px solid #deb63f;
}

.services li>span {
  font-size: 1.4rem;  /* ~14px */
  line-height: 1.65;  /* ~23px */
  vertical-align: middle;
}

@media only screen and (min-width: 575px) {
  .services li {
    height: 112px;
    line-height: 112px;
    padding: 0 7px;
    width: 112px;
  }

  .services li > span {
    font-size: 1.6rem;  /* ~16px */
    line-height: 1.63;  /* ~26px */
  }
}


/* ==========================================================================
   Performance section layout
   ========================================================================== */
 
.performance-section {
  position: relative;
  padding: 20% 0;
}

.performance-section::before, 
.performance-section::after {
  position: absolute;
  left: 50%;
  display: block;
  width: 90%;
  height: 2px;
  margin-left: -45%;
  background-color: #6d401f;
  content: "";
}

.performance-section::before { top: 0; }

.performance-section::after { bottom: 0; }

@media only screen and (min-width: 575px) {
  .performance-section::before, 
  .performance-section::after {
    left: 50%;
    width: 70%;
    margin-left: -35%;
  }
}


/* Performance quote 
   ========================================================================== */

/**
 * Performance quotes are preceed by large quotation marks and followed by 
 * a footer containing a citation. A job title is usually associated with
 * the person cited. The citation name and job title have slightly different 
 * styling to make the job title stand out from the citation name.
 * 
 * <blockquote class="performance-quote">
 *   <p></p>
 *   <footer><cite></cite><span class="cite-job-title"></span></footer>
 * </blockquote>
 */

.performance-quote {
  margin: 0 auto 15%;
  position: relative;
  width: 85%;
}

.performance-quote::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 5.6rem;  /* 14*4=56px */
  line-height: 0.5;
  color: #e3bb44;
  content: "\201C";
  opacity: 0.81;
}

.performance-quote::after {
  display: block;
  clear: both;
  content: "";
}

.performance-quote:last-of-type {
  margin-bottom: 0;
}

@media only screen and (min-width: 575px) {
  .performance-quote { width: 65%; }
}


/* Performance quote body text 
   ========================================================================== */

.performance-quote p {
  margin-left: 2.8rem;
  font-style: italic;
}

@media only screen and (min-width: 575px) {
  .performance-quote p { margin-left: 3.2rem; }
}


/* Performance quote footer 
   ========================================================================== */

.performance-quote footer { float: right; }


/* ==========================================================================
   Bio layout
   ========================================================================== */
 
/**
 * The bio text contains a preview with a read more button. The preview is
 * the first section of the full bio. When the button is pressed, the preview
 * remains and the rest of the bio appears. 
 *
 * Bio section consists of image(s), and a bio text container, which contains
 * the full bio with preview.
 */

.bio, 
.bio-text {
  position: relative;
}

.bio::after {
  display: block;
  clear: both;
  content: "";
}


/* Bio text 
   ========================================================================== */
 
.bio-text {
  width: 100%;
  text-align: justify;
}

.js .bio-text[data-state="preview"] .bio-text-full { display: none; }

.js .bio-text[data-state="full"] .bio-text-full, 
.no-js .bio-text-full {
  display: block;
}

@media only screen and (min-width: 530px) {
  .bio-text { width: 66%; }
}

@media only screen and (min-width: 975px) {
  .js .bio-text[data-state="preview"] {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}


/* Bio images 
   ========================================================================== */
 
.bio img {
  display: block;
  margin: 0 auto 4%;
}


@media only screen and (min-width: 530px) {
  .bio img {
    float: right;
    width: 29.7%;
    max-height: 500px;
    margin-bottom: 2%;
    margin-left: 4%;
  }
}

@media only screen and (min-width: 975px) {
  .bio img { margin-bottom: 0; }
}


/* ==========================================================================
   Sound design video layout
   ========================================================================== */
 
.sound-design-video {
  position: relative;
  float: left;
  width: 100%;
  margin: 0 auto 1%;
}

.sound-design-video:nth-of-type(2n+1) { margin-right: 0; }

.sound-design-video:nth-of-type(2n) { margin-left: 0; }

.sound-design-video:last-of-type { margin-bottom: 0; }

.sound-design-video::after { 
  display: block;
  clear: both;
  content: "";
}

@media only screen and (min-width: 575px) {
  .sound-design-video { margin-bottom: 4%; }
}

@media only screen and (min-width: 750px) {
  .sound-design-video {
    width: 48%;
    margin-bottom: 2%;
  }

  .sound-design-video:nth-of-type(2n+1) { margin-right: 2%; }

  .sound-design-video:nth-of-type(2n) { margin-left: 2%; }
}


/* Sound design video heading
   ========================================================================== */
 
.sound-design-video h2 {
  font-size: 1.6rem;  /* ~16px */
  line-height: 1.45;   /* ~23px */
}

@media only screen and (min-width: 420px) {
  .sound-design-video h2 {
    font-size: 1.8rem;  /* ~18px */
    line-height: 1.3;   /* ~23px */
  }
}

@media only screen and (min-width: 750px) {
  .sound-design-video h2 {
    font-size: 1.6rem;
    line-height: 1.63;
  }
}

@media only screen and (min-width: 830px) {
  .sound-design-video h2 {
    font-size: 1.8rem;  /* ~18px */
    line-height: 1.45;  /* ~26 */
  }
}


/* ==========================================================================
   Music production layout
   ========================================================================== */
 
/**
 * 
 *
 * 1. Flexbox fallback: inline-block
 * 2. Flexbox fallback: prevents inline-block boxes wrapping
 */
.music-prod-work {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding-bottom: 12%;
  margin: 0 auto;
  font-size: 0;  /* 1 */
}

@media only screen and (min-width: 575px) {
  .music-prod-work { padding-bottom: 4%; }
}



/* ==========================================================================
   Music production work sample  
   ========================================================================== */
 
.music-prod-work-sample {
  position: relative;
  display: inline-block;  /* 2 */
  width: 226px;
  padding: 13px;
  margin: 10px;
  overflow: hidden;
  vertical-align: top;
  border: 1px solid rgba(66,28,16,0.5);
}


/* Music production work sample: heading section 
   ========================================================================== */
 
.music-prod-work-sample header {
  height: 58px;
  margin-top: 268px;
}

.music-prod-work-sample h2,
.music-prod-work-sample h3 {
  padding: 0;
  margin: 0;
}

.music-prod-work-sample h2 {
  font-size: 1.4rem;  /* ~15px */
  font-weight: 600;
  line-height: 1.3;  /* ~19px */
}

.music-prod-work-sample h3 {
  font-size: 1.2rem;  /* ~12px */
  line-height: 1.45;  /* ~17px */
  text-transform: none;
}


/* Music production work Sample: more section
   ========================================================================== */
 
/**
 * More buttons
 *
 * Button toggles more info section open and close. When button pressed, more
 * info section is shown, and button text says 'Less'. When button not pressed,
 * more info section hidden, and button text says 'More'.
 * 
 */

.js .music-prod-more-button {
  position: absolute;
  right: 26px;
  bottom: 42px;
  font-size: 1.1rem;  /* ~11px */
  line-height: 2.18;  /* ~24px */
  background-color: transparent;
  outline: none;
}

.no-js .music-prod-more-button { display: none; }

.js .music-prod-more-button::before, 
.js .music-prod-more-button::after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
}

/* down arrow */
.js .music-prod-more-button[data-state="not-pressed"]::after {
  margin-left: 6px;
  border-color: #aa723a transparent transparent;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  opacity: 0.97;
}

/* up arrow */
.js .music-prod-more-button[data-state="pressed"]::before {
  margin-right: 6px;
  border-color: transparent transparent #d4ac35;
  border-style: solid;
  border-width: 0 6px 6px 6px;
}


/*** More info ***/

.music-prod-more-info { 
  margin-bottom: 26px;
  font-size: 1.2rem;  /* ~12px */
  line-height: 1.45;  /* ~17px */
}

.js .music-prod-more-info[data-state="expanded"], 
.no-js .music-prod-more-info {
  display: block;
}

.js .music-prod-more-info[data-state="collapsed"] { display: none; }

.music-prod-more-info ul { list-style: none; }

.music-prod-more-info dt {
  float: left;
  width: 75px;
  font-weight: 500;
}

.music-prod-more-info dd { margin-left: 75px; }


/* ==========================================================================
   Music production music album 
   ========================================================================== */
 
.music-prod-music-album {
  position: absolute;
  top: 13px;
  width: 100%;
  margin-bottom: 13px;
  overflow: hidden;
  font-size: 0;
}

.music-prod-music-album img {
  width: 200px;
  height: 200px;
  margin-bottom: 13px;
  border: 1px solid #e0e0e0;
}


/* Music production music album: audio track 
   ========================================================================== */
 
.js .music-prod-audio-track {
  display: block;
  width: 200px;
  height: 44px;
}

.no-js .music-prod-audio-track { display: none; }

.js .music-prod-audio-track[data-state="audio-loaded"] { background:url(../images/loader_lg.gif) center center no-repeat; }


/*** Audio track iframe ***/

.js .music-prod-audio-track iframe {
  width: 200px;
  height: 42px;
  border: 0;
}


/*** Audio track button ***/

.js .music-prod-audio-track button {
  font-size: 1.2rem;  /* ~12px */
  line-height: 42px;  /* ~42px */
}

.js .music-prod-audio-track[data-state="audio-not-loaded"] button {
  width: 100%;
  height: 42px;
  background: transparent;
  border: 1px solid rgba(66,28,16,0.15);
}

.js .music-prod-audio-track[data-state="audio-loaded"] button { display: none; }

.js .music-prod-audio-track[data-state="audio-not-loaded"] button::before {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 0;
  height: 0;
  margin: 11px 13px 0;
  border-color: transparent transparent transparent #d4ac35;
  border-style: solid;
  border-width: 9px 0 9px 15px; 
  content: "";
}


/* ==========================================================================
   Production credits 
   ========================================================================== */

/* Production credits: legend 
   ========================================================================== */

/**
 * Legend maps production credit letters within circles to production credit 
 * type (such as mixed, engineered, guitar, ...). The legend has general 
 * styling, and specific style based on the page the legend is on. A legend 
 * appears on the bands page and music production page.
 *
 * Contains a definition list with each term set and style as the production 
 * credit letter within a circle, and the defintion set to production credit 
 * type. The term-definition pair are set side-by-side, and all pairs have the 
 * same width to create grid/table look.
 *
 * <div class="prod-credits-legend">
 *   <dl>
 *     <div class="prod-credits-legend-definition">
 *       <dt><span class="mixed-credit prod-credit">MX</span> = </dt>
 *       <dd>Mixed</dd>
 *     </div>
 *   </dl>
 * </div>
 *
 */

.prod-credits-legend {
  position: relative;
  display: block;
  width: 100%;
  padding: 12% 0 2%;
  margin: 0 auto;
}

.bands+.prod-credits-legend {
  max-width: 905px;
  padding-right: 1%;
  padding-left: 1%;
}

.music-prod-work+.prod-credits-legend {
  padding-right: 10px;
  padding-left: 10px;
}

.prod-credits-legend-definition, 
.prod-credits-legend-definition dt, 
.prod-credits-legend-definition dd {
  display: inline-block;
}

.prod-credits-legend-definition { margin-bottom: 1%; }

.bands+.prod-credits-legend .prod-credits-legend-definition { margin-right: 1%; }

.music-prod-work+.prod-credits-legend .prod-credits-legend-definition {
  width: 226px;
  padding: 0 13px;
}

.prod-credits-legend-definition dt {
  width: 39px;
  margin-bottom: 13px;
}

.prod-credits-legend-definition dd {
  width: 122px;
  margin-bottom: 3%;
}

@media only screen and (min-width: 394px) {
  bands+.prod-credits-legend .prod-credits-legend-definition { margin-left: 0; }
}
 
@media only screen and (min-width: 555px) {
  .music-prod-work+.prod-credits-legend .prod-credits-legend-definition:nth-of-type(2n+1) { margin-right: 16px; }
}

@media only screen and (min-width: 575px) {
  .prod-credits-legend {
    padding: 6% 0 0;
    font-size: 1.4rem;  /* ~14px */
  }
}

@media only screen and (min-width: 836px) {
  .music-prod-work+.prod-credits-legend .prod-credits-legend-definition { margin-right: 16px; }

  .music-prod-work+.prod-credits-legend .prod-credits-legend-definition:nth-of-type(3n) { margin-right: 0; }
}

@media only screen and (min-width: 1116px) {
  .music-prod-work+.prod-credits-legend .prod-credits-legend-definition:nth-of-type(3n) { margin-right: 16px; }

  .music-prod-work+.prod-credits-legend .prod-credits-legend-definition:nth-of-type(4n) { margin-right: 0; }
}

@media only screen and (min-width: 1394px) {
  .music-prod-work+.prod-credits-legend .prod-credits-legend-definition:nth-of-type(4n) { margin-right: 16px; }

  .music-prod-work+.prod-credits-legend .prod-credits-legend-definition:nth-of-type(5n) { margin-right: 0; }
}


/* Production credits: list 
   ========================================================================== */

.prod-credits-list {
  margin: 0;
  list-style: none;
}

.band-music-album .prod-credits-list {
  float: left;
  width: 39%;
  margin-top: 57%;
}

.prod-credits-list li {
  float: left;
  margin: 0 4px 4px 0;
}

@media only screen and (min-width: 350px) {
  .band-music-album .prod-credits-list {
    width: 45%;
    margin-top: 52%;
  }
}

@media only screen and (min-width: 475px) {
  .band-music-album .prod-credits-list {
    width: calc(100% - 213px);
    margin-top: 206px;
  }
}

@media only screen and (min-width: 750px) {
  .band-music-album .prod-credits-list {
    width: 44%;
    margin-top: 52%;
  }
}

@media only screen and (min-width: 975px) {
  .band-music-album .prod-credits-list {
    width: calc(100% - 216px);
    margin-top: 206px;
  }
}


/* Production/co-production credit styling 
   ========================================================================== */

.co-prod-credit, 
.prod-credit {
  font-size: 1.1rem;  /* ~11px */
  font-weight: 400;
  line-height: 2.18;  /* ~24px */
}

.prod-credits-legend-definition .co-credit, 
.co-prod-credit {
  color: #6d401f;
}

.co-prod-credit {
  position: relative;
  float: left;
  display: inline-block;
  margin: 0 4px 4px 0;
}

.prod-credit {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #f5eccf;
  text-align: center;
  border-radius: 12px;
}


/*** production credit backgrounds based on credit type ***/

.produced-credit { background-color: #993d05; }

.engineered-credit { background-color: #421c10; }

.mastered-credit { background-color: #6d401f; }

.vocals-credit { background-color: #421c10; }

.vocals-backup-credit { background-color: #aa723a; }

.guitar-credit { background-color: #993d05; }

.guitar-lead-credit { background-color: #6d401f; }

.bass-credit { background-color: #993d05; }

.drums-credit { background-color: #6d401f; }

.harmonica-credit { background-color: #aa723a; }

.mixed-credit {
  color: #fff;
  background-color: #deb63f;
}

.songwriter-credit {
  color: #fff;
  background-color: #deb63f;
}

.co-credit, 
.co-prod-credit {
  background-color: transparent;
}


/* Production credits: credit type hover-over-popup tag 
   ========================================================================== */

.prod-credit-type {
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding: 4px 6px;
  margin-bottom: 4px;
  line-height: 1;
  color: #421c10;
  text-align: center;
  background-color: #f5eccf;
  border: 1px solid #f2e9cc;
  opacity: 0.9;
  visibility: hidden;
  box-shadow: 0px 5px 10px -7px #333;
}

.prod-credit-type::after {
  position: absolute;
  top: 100%;
  left: 5px;
  border-color: #f5eccf transparent transparent;
  border-style: solid;
  border-width: 9px 6px 0;
  content: "";
}

.prod-credit:hover .prod-credit-type, 
.co-prod-credit:hover .prod-credit-type {
  visibility: visible;
}

.co-prod-credit:hover .prod-credit-type { width: 90px; }


/* ==========================================================================
   Band section layout 
   ========================================================================== */

.bands::after { 
  display: block;
  clear: both;
  content: "";
}

.band-section {
  padding: 12% 0;
  border-bottom: 2px solid rgba(153,61,5,0.80);
}

.band-section:first-of-type { padding-top: 0; }

@media only screen and (min-width: 575px) {
  .band-section { padding: 6% 0; }
}


/* Band: row 
   ========================================================================== */

.band-row::after { 
  display: block;
  clear: both;
  content: "";
}


/* ==========================================================================
   Band photos 
   ========================================================================== */

.band-photos {
  position: relative;
  float: left;
  width: 100%;
  margin: 0 0 12%;
  font-size: 0;
}

.band-section-music-only .band-photos {
  margin-bottom: 12%;
}

@media only screen and (min-width: 575px) {
  .band-photos { margin: 0 0 4%; }

  .band-section-music-only .band-photos { margin-bottom: 4%; }
}

@media only screen and (min-width: 750px) {
  .band-photos {
    width: calc(50% - 13px);
    margin-right: 13px;
  }

  .band-section-music-only .band-photos { margin-bottom: 2%; }
}


/* Band photos: large/fullsize photo viewer 
   ========================================================================== */

.band-photo-viewer {
  position: relative;
  width: 100%;
  background-color: #000;
}

.band-photo-viewer img[data-state="not-selected"] { display: none; }

.band-photo-viewer img[data-state="selected"] { display: block; }


/*** large/fullsize photo orientation styling ***/

.band-large-photo-landscape, 
.band-large-photo-portrait {
  display: block;
  margin: 0 auto;
}

.band-large-photo-portrait { width: 50%; }


/* Band photos: selectable thumbnails associated with large/fullsize photos 
   ========================================================================== */

.band-photo-thumbnails { width: 100%; }

.band-photo-thumbnails img { background-color: #f5eccf; }


/*** thumbnail buttons ***/

.band-photo-thumbnails button {
  float: left;
  width: 24%;
  margin: 1.3% 1.3% 0 0;
  font-size: 0;
  background-color: transparent;
}

.band-photo-thumbnails button:nth-of-type(4n+4) { margin-right: 0; }

.js .band-photo-thumbnails button { opacity: 0.65; }

.js .band-photo-thumbnails button:hover { opacity: 1; }

.js .band-photo-thumbnails button:disabled, 
.no-js .band-photo-thumbnails button {
  pointer-event: none;
  cursor: default;
  opacity: 1;
}


/* ==========================================================================
   Band music 
   ========================================================================== */

.band-music {
  position: relative;
  float: right;
  width: 100%;
  margin: 0 0 12%;
}

.band-section-music-only .band-music { margin-bottom: 3%; }

@media only screen and (min-width: 575px) {
  .band-music { margin: 0 0 4%; }

  .band-section-music-only .band-music { margin-bottom: 2%; }

}

@media only screen and (min-width: 750px) {
  .band-music {
    width: calc(50% - 13px);
    margin-left: 13px;
  }
}


/* ==========================================================================
   Band music album 
   ========================================================================== */

.band-music-album {
  position: relative;
  display: block;
  padding: 13px;
  margin-bottom: 6%;
  overflow: hidden;
  border: 1px solid rgba(66,28,16,0.5);
}

.band-music-album:last-of-type { margin-bottom: 0; }

@media only screen and (min-width: 575px) {
  .band-music-album { margin-bottom: 4%; }
}


/* Band music album: heading 
   ========================================================================== */

.band-music-album h4 {
  float: left;
  width: 61%;
  margin-top: 57%;
}

@media only screen and (min-width: 350px) {
  .band-music-album h4 {
    width: 55%;
    margin-top: 52%;
  }
}

@media only screen and (min-width: 475px) {
  .band-music-album h4 {
    width: 213px;
    margin-top: 206px;
  }
}

@media only screen and (min-width: 750px) {
  .band-music-album h4 {
    width: 52%;
    margin-top: 52%;
  }
}

@media only screen and (min-width: 975px) {
  .band-music-album h4 {
    width: 216px;
    margin-top: 206px;
  }
}


/* ==========================================================================
   Band music album content 
   ========================================================================== */

.band-music-album-content {
  position: absolute;
  top: 13px;
  width: calc(100% - 26px);
  max-height: 200px;
  overflow: hidden;
}

.band-music-album-content::after { 
  display: block;
  clear: both;
  content: "";
}


/* Band music album content: image 
   ========================================================================== */

.band-music-album-content img {
  float: left;
  width: calc(61% - 13px);
  max-width: 200px;
  margin-right: 13px;
  border: 1px solid #e0e0e0;
}

@media only screen and (min-width: 350px) {
  .band-music-album-content img { width: calc(55% - 13px); }
}

@media only screen and (min-width: 750px) {
  .band-music-album-content img { width: calc(55% - 13px); }
}


/* ==========================================================================
   Band music tracks 
   ========================================================================== */

.band-music-tracks {
  position: absolute;
  left: 61%;
  width: 39%;
  font-size: 0;
}

.js .band-music-tracks {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.js .band-music-tracks[data-state="audio-not-loaded"] { cursor: pointer; }

@media only screen and (min-width: 350px) {
  .band-music-tracks {
    width: 45%;
    left: 55%;
  }
}

@media only screen and (min-width: 475px) {
  .band-music-tracks {
    width: calc(100% - 213px);
    left: 213px;
  }
}

@media only screen and (min-width: 750px) {
  .band-music-tracks {
    width: 44%;
    left: 55%;
  }
}

@media only screen and (min-width: 975px) {
  .band-music-tracks {
    width: calc(100% - 213px);
    left: 213px;
  }
}


/* Band music tracks: play/load button 
   ========================================================================== */

.js .band-music-tracks[data-state="audio-not-loaded"] button { background-color: transparent; }

.js .band-music-tracks[data-state="audio-not-loaded"] button::before, 
.js .band-music-tracks[data-state="audio-not-loaded"] button::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
      -ms-transform: translate3d(-50%,-50%,0);
          transform: translate3d(-50%,-50%,0);
  content: "";
}

.js .band-music-tracks[data-state="audio-not-loaded"] button::before {
  z-index: 1;
  left: 50%;
  width: 80px;
  height: 80px;
  background-color: #000;
  border-radius: 40px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.4);
}

.js .band-music-tracks[data-state="audio-not-loaded"] button::after {
  left: calc(50% + 4px);
  z-index: 2;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 15px 0 15px 26px;
}

.js .band-music-tracks[data-state="audio-not-loaded"]:hover button { opacity: 1; }

.js .band-music-tracks[data-state="audio-not-loaded"]:hover button::before { background-color: #d4ac35; }


/* ==========================================================================
   Band music audio tracks 
   ========================================================================== */

.js .band-audio-track {
  width: 100%;
  height: 43px;
  margin-bottom: 6%;
  font-size: 1.3rem;
  font-style: italic;
}

.js .band-audio-track:last-of-type { margin-bottom: 0; }

.no-js .band-audio-track { display: none; }


/* Band music audio tracks: states 
   ========================================================================== */

.js .band-audio-track[data-state="audio-not-loaded"] {
  padding-top: 7px;
  padding-right: 13px;
  padding-left: 13px;
  border: 1px solid rgba(66,28,16,0.25);
  opacity: 0.5;
}

.js .band-audio-track[data-state="audio-loaded"] { background:url(../images/loader_lg.gif) center center no-repeat; }

@media only screen and (min-width: 350px) {
  .js .band-audio-track[data-state="audio-not-loaded"] {
    padding-top: 7px;
    padding-right: 23px;
    padding-left: 39px;
  }
}

@media only screen and (min-width: 465px) {
  .js .band-audio-track[data-state="audio-not-loaded"] { padding-top: 0; }
}

@media only screen and (min-width: 750px) {
  .js .band-audio-track[data-state="audio-not-loaded"] { padding-top: 7px; }
}

@media only screen and (min-width: 975px) {
  .js .band-audio-track[data-state="audio-not-loaded"] { padding-top: 0; }
}


/* Band music audio tracks: iframe 
   ========================================================================== */

.js .band-audio-track iframe {
  width: 100%;
  height: 42px;
  border: 0;
}


/* ==========================================================================
   Band videos section 
   ========================================================================== */

.band-videos  {
  position: relative;
  margin: 0 0 12%;
}

@media only screen and (min-width: 575px) {
  .band-videos  { margin: 0 0 4%; }
}


/* ==========================================================================
   Band video 
   ========================================================================== */

.band-video {
  position: relative;
  float: left;
  width: 100%;
  margin: 0 auto 6%;
}

.band-video:nth-of-type(2n+1) {
  margin-right: 0;
}

.band-video:nth-of-type(2n) { margin-left: 0; }

.band-video::after { 
  display: block;
  clear: both;
  content: "";
}

@media only screen and (min-width: 750px) {
  .band-video {
    width: calc(50% - 13px);
    margin-bottom: 4%;
  }

  .band-video:nth-of-type(2n+1) { margin-right: 13px; }

  .band-video:nth-of-type(2n) { margin-left: 13px; }

  .band-video:last-of-type { margin-bottom: 4%; }
}


/* Band video: heading 
   ========================================================================== */

.band-video h4 { text-transform: uppercase; }


/* ==========================================================================
   Band press 
   ========================================================================== */

.band-press {
  position: relative;
  margin: 0 0 12%;
}

@media only screen and (min-width: 575px) {
  .band-press { margin: 0 0 4%; }
}


/* ==========================================================================
   Band press: article 
   ========================================================================== */

.band-press article {
  float: left;
  width: 100%;
  padding: 0 13px;
  margin: 0 0 12%;
  overflow: hidden;
  border-left: 2px solid #e6c619;
}

.band-press article:nth-of-type(2n+1) { margin-right: 0; }

.band-press article:last-of-type { margin-bottom: 0; }

/* press sections with 4 articles */
.band-press-4-articles article:nth-last-of-type(2) { margin-bottom: 12%; }

@media only screen and (min-width: 575px) {
  .band-press article { margin-bottom: 8%; }

  .band-press-4-articles article:nth-last-of-type(2) { margin-bottom: 8%; }
}

@media only screen and (min-width: 750px) {
  .band-press article {
    width: calc(50% - 13px);
    margin-bottom: 8%;
  }

  .band-press article:nth-of-type(2n+1) { margin-right: 2%; }

  .band-press-4-articles article:nth-last-of-type(2) { margin-bottom: 0; }
}

@media only screen and (min-width: 856px) {
  .band-press article { margin-bottom: 4%; }
}

/* ==========================================================================
   Band press quote 
   ========================================================================== */

.press-quote {
  position: relative;
  text-align: justify;
}


/* Band press quote: heading 
   ========================================================================== */

.press-quote header { margin-bottom: 1em; }

.press-quote h4 {
  margin: 0;
  text-transform: uppercase;
}

.press-quote time { position: relative; }

@media only screen and (min-width: 410px) {
  .press-quote time {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media only screen and (min-width: 750px) {
  .press-quote time { position: relative; }
}

@media only screen and (min-width: 890px) {
  .press-quote time {
    position: absolute;
    top: 0;
    right: 0;
  }
}


/* Band press quote: states
   ========================================================================== */

.js .press-quote-fulltext[data-state="expanded"], 
.js .press-quote-preview[data-state="expanded"], 
.no-js .press-quote-fulltext {
  display: block;
}

.js .press-quote-fulltext[data-state="collapsed"], 
.js .press-quote-preview[data-state="collapsed"] { 
  display: none;
}

