/* ==========================================================================
   Elements removed
   ========================================================================== */

.band-music-album h4 span,
.band-photos h3, 
.band-photos h4, 
button, 
body>footer,
.disabled-js-banner, 
.disabled-js-band-audio, 
.disabled-js-band-photos,
.disabled-js-music-prod-audio, 
.disabled-js-video,  
.prod-credits-legend,
.press-quote-preview,
nav {
  display: none;
}


/* ==========================================================================
   Base print layout
   ========================================================================== */

body {
  font: 11pt Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
}


/* ==========================================================================
   Base print typography 
   ========================================================================== */

h1 {
  font-size: 18pt;
  page-break-after: avoid;
}

h2 {
  margin-top: 0;
  margin-bottom: 1.5mm;
  font-size: 14pt;
  page-break-after: avoid;
}

h3 {
  margin-top: 0;
  margin-bottom: 3.5mm;
  font-size: 11pt;
  page-break-after: avoid;
}

h4 {
  margin-top: 0;
  margin-bottom: 3.5mm;
  font-size: 11pt;
  page-break-after: avoid;
}

h5 {
  margin-top: 0;
  margin-bottom: 3.5mm;
  font-size: 11pt;
  page-break-after: avoid;
}

p { page-break-inside: avoid; }


/* ==========================================================================
   Base print quotes
   ========================================================================== */
 
blockquote { margin-bottom: 10mm; }


/* ==========================================================================
   Base print lists
   ========================================================================== */
 
ul {
  padding-left: 7mm;
  margin-bottom: 4mm;
}


/* ==========================================================================
   Base print images
   ========================================================================== */
 
img {
  max-width: 100%;
  page-break-inside: avoid;
}


/* ==========================================================================
   Embedded video Container 
   ========================================================================== */

.embedded-video {
  font-size: 0;
  border: 1px solid #e0e0e0;
}


/* ==========================================================================
   Production credits list 
   ========================================================================== */

.prod-credits-list { margin-bottom: 3.5mm; }


/* ==========================================================================
   Bio layout
   ========================================================================== */
 
.bio-text {
  width: 66%;
  text-align: justify;
}

.bio img {
  float: right;
  width: 29%;
}


/* ==========================================================================
   Sound design video layout
   ========================================================================== */
 
.sound-design-video {
  float: left;
  width: 48%;
  margin-bottom: 4mm;
  page-break-inside: avoid;
}

.sound-design-video:nth-of-type(2n+1) { margin-right: 2%; }

.sound-design-video:nth-of-type(2n) { margin-left: 2%; }


/* ==========================================================================
   Music production work sample 
   ========================================================================== */
 
.music-prod-work-sample {
  display: inline-block; 
  width: 50mm;
  padding: 4mm;
  margin: 2mm;
  overflow: hidden;
  vertical-align: top;
  border: 1px solid rgba(66,28,16,0.5);
}


/* Music production work Sample: more section
   ========================================================================== */
 
.music-prod-more-info {
  margin-top: 0;
  margin-bottom: 4mm;
}


/* ==========================================================================
   Music production music album 
   ========================================================================== */
 
.music-prod-music-album {
  width: 100%;
  overflow: hidden;
  font-size: 0;
}

.music-prod-music-album img {
  width: 50mm;
  height: 50mm;
  margin-bottom: 3.5mm;
  margin-left: calc(50% - 25mm);
  font-size: 0;
  border: 1px solid #e0e0e0;
}


/* ==========================================================================
   Band section layout 
   ========================================================================== */

.band-section { page-break-after: always; }


/* ==========================================================================
   Band photos 
   ========================================================================== */

.band-photos { margin-bottom: 4mm; }

.band-photos img {
  display: inline-block;
  width: 23%;
  margin-right: 2%;
  margin-bottom: 2%;
  font-size: 0;
  vertical-align: top;
}

.band-photos img:nth-of-type(4n) { margin-right: 0; }


/* ==========================================================================
   Band music 
   ========================================================================== */

.band-music {
  margin-bottom: 4mm;
  page-break-inside: avoid;
}

.band-section:nth-of-type(3) .band-music { page-break-before: always; }

/* ==========================================================================
   Band music album 
   ========================================================================== */

.band-music-album {
  float: left;
  width: 48%;
  margin-bottom: 4mm;
}

.band-music-album:nth-of-type(2n) { margin-right: 2%; }

.band-music-album:nth-of-type(2n+1) { margin-left: 2%; }

.band-music-album img {
  width: 45%;
  margin-bottom: 3.5mm;
  border: 1px solid #e0e0e0;
}

.band-music-album:only-of-type { width: 100%; }

.band-music-album:only-of-type img { width: 23%; }


/* ==========================================================================
   Band video 
   ========================================================================== */

.band-video {
  float: left;
  width: 46%;
  margin-bottom: 4mm;
  page-break-inside: avoid;
}

.band-video:nth-of-type(2n+1) { margin-right: 2%; }

.band-video:nth-of-type(2n) { margin-left: 2%; }

.band-video img { width: 100%; }


/* ==========================================================================
   Band press 
   ========================================================================== */

.band-press { 
  margin-bottom: 4mm; 
  page-break-before: always;
}

.band-section:last-of-type .band-press { 
  page-break-before: avoid;
}

.band-press h4 { margin-bottom: 0; }

